In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("C:\\Users\\DVM\\Desktop\\ai-ml\\day 21 regression\\general_data.csv")
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [3]:
Y=dataset.Attrition

In [5]:
X=dataset[['Age','BusinessTravel','Department','DistanceFromHome','Education','EducationField','Gender','NumCompaniesWorked','PercentSalaryHike','StockOptionLevel','TotalWorkingYears','TrainingTimesLastYear','YearsAtCompany','YearsSinceLastPromotion','YearsWithCurrManager','JobLevel','JobRole','MaritalStatus','MonthlyIncome']]

In [6]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
dataset["Department"]=le.fit_transform(dataset["Department"])

In [7]:
dataset["BusinessTravel"]=le.fit_transform(dataset["BusinessTravel"])

In [8]:
dataset["Attrition"]=le.fit_transform(dataset["Attrition"])

In [9]:
dataset["EducationField"]=le.fit_transform(dataset["EducationField"])

In [10]:
dataset["Gender"]=le.fit_transform(dataset["Gender"])

In [11]:
dataset["Over18"]=le.fit_transform(dataset["Over18"])

In [12]:
dataset["JobRole"]=le.fit_transform(dataset["JobRole"])

In [13]:
dataset["MaritalStatus"]=le.fit_transform(dataset["MaritalStatus"])

In [14]:
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,0,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,0.0,0,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,1.0,0,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,0,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,0,12,8,2,9.0,2,6,0,4

In [15]:
import statsmodels.api as sm

In [16]:
X1= sm.add_constant(X)

D:\anaconda\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [17]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
Age                        4410 non-null int64
Attrition                  4410 non-null int32
BusinessTravel             4410 non-null int32
Department                 4410 non-null int32
DistanceFromHome           4410 non-null int64
Education                  4410 non-null int64
EducationField             4410 non-null int32
EmployeeCount              4410 non-null int64
EmployeeID                 4410 non-null int64
Gender                     4410 non-null int32
JobLevel                   4410 non-null int64
JobRole                    4410 non-null int32
MaritalStatus              4410 non-null int32
MonthlyIncome              4410 non-null int64
NumCompaniesWorked         4391 non-null float64
Over18                     4410 non-null int32
PercentSalaryHike          4410 non-null int64
StandardHours              4410 non-null int64
StockOptionLevel           4410 non-null int64
TotalWorkingYears          4401 non-null float64
TrainingTimesLastYear      4410 non-null int64
YearsAtCompany             4410 non-null int64
YearsSinceLastPromotion    4410 non-null int64
YearsWithCurrManager       4410 non-null int64
dtypes: float64(2), int32(8), int64(14)
memory usage: 689.1 KB

In [18]:
dataset["NumCompaniesWorked"]=le.fit_transform(dataset["NumCompaniesWorked"])

In [19]:
dataset["TotalWorkingYears"]=le.fit_transform(dataset["TotalWorkingYears"])

In [20]:
 sm.tools.categorical

In [21]:
import statsmodels.api as sm

In [22]:
Y=dataset.Attrition

In [27]:
X=dataset[['Age','BusinessTravel','Department','DistanceFromHome','Education','EducationField','Gender','NumCompaniesWorked','PercentSalaryHike','StockOptionLevel','TotalWorkingYears','TrainingTimesLastYear','YearsAtCompany','YearsSinceLastPromotion','YearsWithCurrManager','JobLevel','JobRole','MaritalStatus','MonthlyIncome']]

In [28]:
X1= sm.add_constant(X)

In [29]:
logistic=sm.Logit(Y,X1)

In [30]:
result=logistic.fit()

Optimization terminated successfully.
         Current function value: 0.394467
         Iterations 7

In [31]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 4410
Model:                          Logit   Df Residuals:                     4390
Method:                           MLE   Df Model:                           19
Date:                Sat, 08 Aug 2020   Pseudo R-squ.:                  0.1069
Time:                        11:23:06   Log-Likelihood:                -1739.6
converged:                       True   LL-Null:                       -1947.9
                                        LLR p-value:                 1.576e-76
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       0.1219      0.413      0.295      0.768      -0.687       0.931
Age                        -0.0312      0.007     -4.593      0.000      -0.045      -0.018
BusinessTravel             -0.0217      0.065     -0.332      0.740      -0.150       0.106
Department                 -0.2385      0.081     -2.943      0.003      -0.397      -0.080
DistanceFromHome           -0.0011      0.005     -0.206      0.837      -0.012       0.009
Education                  -0.0635      0.043     -1.495      0.135      -0.147       0.020
EducationField             -0.0996      0.033     -2.991      0.003      -0.165      -0.034
Gender                      0.0759      0.089      0.850      0.395      -0.099       0.251
NumCompaniesWorked          0.0866      0.016      5.422      0.000       0.055       0.118
PercentSalaryHike           0.0130      0.012      1.108      0.268      -0.010       0.036
StockOptionLevel           -0.0630      0.052     -1.221      0.222      -0.164       0.038
TotalWorkingYears          -0.0458      0.011     -4.082      0.000      -0.068      -0.024
TrainingTimesLastYear      -0.1453      0.035     -4.132      0.000      -0.214      -0.076
YearsAtCompany              0.0012      0.018      0.069      0.945      -0.034       0.036
YearsSinceLastPromotion     0.1330      0.020      6.514      0.000       0.093       0.173
YearsWithCurrManager       -0.1391      0.022     -6.306      0.000      -0.182      -0.096
JobLevel                   -0.0279      0.040     -0.704      0.481      -0.105       0.050
JobRole                     0.0365      0.018      2.044      0.041       0.002       0.072
MaritalStatus               0.5886      0.063      9.332      0.000       0.465       0.712
MonthlyIncome           -1.855e-06   9.56e-07     -1.939      0.052   -3.73e-06    1.96e-08
===========================================================================================
"""

# Inference 
# the attributes which are more significant are:
Age
Marital Status
NumCompaniesWorked
TotalWorkingYears
TrainingTimesLastYear
YearsSinceLastPromotion
YearsWithCurrManager
# attributes less significant 
Gender
Department
EducationField
JobRole
Monthly income
Stock option level
Job level
Percentage salary hike 
# attributes not significant
Business Travel
Distance From Home
years at company